##===- doxygen.config ---------------------------------------*- doxygen -*-===##
#
#   LLVMTA - Timing Analyser performing worst-case execution time analysis
#     using the LLVM backend intermediate representation
#
# Copyright (C) 2013-2015  Saarland University
#
# This file is distributed under the Saarland University Software Release
# License. See LICENSE.TXT for details.
#
# THIS SOFTWARE IS PROVIDED "AS IS", WITHOUT ANY EXPRESSED OR IMPLIED
# WARRANTIES, INCLUDING BUT NOT LIMITED TO, THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE SAARLAND UNIVERSITY, THE
# CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DIRECT,
# INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING BUT NOT LIMITED TO PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
# HOWEVER CAUSED OR OTHER LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, TORT OR OTHERWISE, ARISING IN ANY WAY FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH A DAMAGE.
#
##===----------------------------------------------------------------------===##


PROJECT_NAME 			= 'TimingAnalysisLLVM'

INPUT							= . lib/PartitionUtil lib/AnalysisFramework lib/PreprocessingAnalysis lib/MicroarchitecturalAnalysis lib/MicroarchitecturalAnalysis/OutOfOrderPipelineComponents lib/PathAnalysis lib/Util lib/LLVMPasses lib/Memory include/PartitionUtil include/AnalysisFramework include/PreprocessingAnalysis include/MicroarchitecturalAnalysis include/MicroarchitecturalAnalysis/OutOfOrderPipelineComponents include/PathAnalysis include/Util include/LLVMPasses include/Memory include/Memory/util include/Memory/progana

OUTPUT_DIRECTORY 	= doc
OUTPUT_LANGUAGE  	= English

GENERATE_HTML			= YES
GENERATE_LATEX		= NO
SOURCE_BROWSER		= YES

USE_MATHJAX				= YES

EXTRACT_ALL				= YES
